doctype html

html
  head
    meta(charset='UTF-8')
    title Linvo (Window)
  body
    #linvo-root
    if env !== 'prod'
      script(src='chrome-extension://lmhkpmbekcpmknklioeibfkpmmfibljd/js/redux-devtools-extension.js')
    script(src=env == 'prod' ? '/js/app.bundle.js' : 'http://localhost:4000/js/app.bundle.js')
